<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="MiConexionsql"
         connectionString="DataBase=ServicioCliente; Server=MAVERICK-PC\SQLEXPRESS;Integrated Security=True; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>